{{#each abilities as |ability|}}
  <li class="ability-item" data-item-id="{{ability.id}}">
    <span class="ability-name">{{ability.name}}</span>
    <span class="ability-rating">{{ability.system.rating}}</span>
  </li>
{{/each}}